.img1 {
  background: url('img/captain.svg');
}
.img2 {
  background: url('img/dashi.svg');
}
.img4 {
  background: url('img/kwazii.svg');
}
.img5 {
  background: url('img/peso.svg');
}
.img6 {
  background: url('img/shellington.svg');
}
.img8 {
  background: url('img/tweak.svg');
}
.background {
  background: url('img/background.jpg');
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8 {
  transform: scale(4);
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}
