.img1 {
  background: url('img/char/octonauts/barnacles.png');
}
.img2 {
  background: url('img/char/octonauts/dashi.png');
}
.img3 {
  background: url('img/char/octonauts/inkling.png');
}
.img4 {
  background: url('img/char/octonauts/kwazii.png');
}
.img5 {
  background: url('img/char/octonauts/peso.png');
}
.img6 {
  background: url('img/char/octonauts/shellington.png');
}
.img7 {
  background: url('img/char/octonauts/tunip.png');
}
.img8 {
  background: url('img/char/octonauts/tweak.png');
}
